<div class="container">
    <div class="header">
      <img src="https://media.licdn.com/dms/image/v2/D4D03AQFLWU-CzEarHg/profile-displayphoto-shrink_800_800/B4DZVgyY8CHAAc-/0/1741085577731?e=1750291200&v=beta&t=768wxhZQYy2ty9mIIM60ygwf4m4JiD34bPyeDnuyeRo" alt="Aya Abrada">
      <div>
        <h1 id = "nom">Aya Abrada</h1>
        <p>Technicienne Systèmes & Réseaux | Développeuse Full Stack</p>
      </div>
    </div>
  
    <div class="section">
      <h2>Profil</h2>
      <p>Actuellement en formation Full Stack Java JEE & Angular à l’école numérique Ahmed Al Hansali, je suis passionnée par le développement web et les infrastructures réseau. Je combine des compétences techniques solides avec un bon esprit d’équipe et une forte motivation.</p>
    </div>
  
    <div class="section">
      <h2>Expérience & Formation</h2>
      <ul>
        <li><strong>2024 – En cours :</strong> Formation Full Stack Developer JAVA JEE ANGULAR – École numérique Ahmed Al Hansali, Beni Mellal</li>
        <li><strong>2022 – 2024 :</strong> Diplôme de technicienne spécialisée en infrastructure digitale – Institut spécialisé, Oued Zem</li>
        <li><strong>2021 :</strong> Baccalauréat en sciences physiques – Lycée Ibn Tofail, Oued Zem</li>
      </ul>
    </div>
  
    <div class="section">
      <h2>Compétences Techniques</h2>
      <div class="skills">
        <span>HTML</span>
        <span>CSS</span>
        <span>JavaScript</span>
        <span>Bootstrap</span>
        <span>Tailwind</span>
        <span>Angular</span>
        <span>Java</span>
        <span>JEE</span>
        <span>C</span>
        <span>Python</span>
        <span>SQL</span>
        <span>Windows / Linux</span>
        <span>Cloud</span>
        <span>Git / GitHub</span>
        <span>Sécurité Informatique</span>
        <span>Protocole Réseau</span>
      </div>
    </div>
  
    <div class="section">
      <h2>Certificats</h2>
      <ul>
        <li>Network Security</li>
        <li>CCNAv7 – Notions de base (commutation, routage, sans fil)</li>
        <li>CCNAv7 – Sécurité et automatisation d’entreprise</li>
        <li>SQL (Basic)</li>
        <li>Microsoft Office: Word, Excel, PowerPoint 2016</li>
      </ul>
    </div>
  
    <div class="section contact">
      <h2>Contact</h2>
      <div>Téléphone : 0633156936</div>
      <div>Email : <a href="mailto:abradaaya2&#64;gmail.com">abradaaya2&#64;gmail.com</a></div>
      <div>Adresse : 21 Rue du moulin, Oued Zem</div>
    </div>
  
    <div class="section languages">
      <h2>Langues</h2>
      <div>Arabe (natif)</div>
      <div>Français (courant)</div>
      <div>Anglais (intermédiaire)</div>
    </div>
  
    <div class="section soft-skills">
      <h2>Soft Skills</h2>
      <div>Rigueur</div>
      <div>Esprit d’équipe</div>
      <div>Motivation</div>
      <div>Bon relationnel</div>
      <div>Passion</div>
    </div>
  </div>
  