<div class="header">
    <h1 class="title">Portfolio</h1>
    
    <div class="navbar">
      <ul class="nav-list">
        <li><a routerLink="/accueil" routerLinkActive="text-dark">Accueil</a></li>
        <li><a routerLink="/propos" routerLinkActive="text-dark">À propos</a></li>
        <li><a routerLink="/projets" routerLinkActive="text-dark">Projets</a></li>
        <li><a routerLink="/contact" routerLinkActive="text-dark">Contact</a></li>
        <li><a routerLink="/cv" routerLinkActive="text-dark">CV</a></li>
      </ul>
    </div>
  </div>
  