.carte {
    background-color: #fff;
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    text-align: center; 
    font-family: Arial, sans-serif; 
}

.titre {
    font-size: 15px; 
    font-weight: bold; 
    text-align: center; 
    color: #333; 
    font-family: Arial, sans-serif; 
}
a {
    color: blue; 
    text-decoration: none; 
  }
  
  a:visited {
    color: purple; 
  }
  a:hover {
    color: red; 
  }
  
  a:active {
    color: green;
  }
  
  .body {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 20px;
    padding: 20px;
  }
  
  .section1 {
    width: 48%;
    box-sizing: border-box;
  }
  @media (max-width: 768px) {
    .carte{
      width: 200%;
    }
    .titre{
       text-align: center;
    }
  }

  
