<p class = "titre">Bio</p>
<div class = "carte">Je suis un développeur Full Stack passionné avec une expérience dans la création 
    d’applicationsweb et la gestion d’infrastructures informatiques. Avec une expérience dans les techniques
    de développement (JavaScript, Java, C, Angular, Html, Css, etc.) et une compétence en gestion
    de systèmes et de réseaux, je suis capable de travailler aussi bien sur la conception 
    d’applications que sur la gestion de réseaux et systéme.
    J’ai la capacité de résoudre des problèmes techniques et de travailler
    efficacement en équipes multidisciplinaires. Mon approche est toujours axée sur l’amélioration 
    des performances et de la sécurité du système.
</div>
<p class = "titre">Parcours</p>
<div class = "carte">
2024-2025  Actuellement en cours d’une formation en Full stack developerJAVA JEE ANGULAR à l’école
     numérique Ahmed Al Hansali , Beni Mellal<br><br>
2022-2024  Diplôme de technicien spécialisé en infrastructure digitale option systèmes et réseaux à
     L’institut spécialisé des technologie appliquée , Oued Zem<br><br>
2021-2022  Baccalauréat en science physique à lycée Ibn toufail , Oued Zem
</div>
<p class = "titre">Compétences </p>
<div class = "carte">
Maîtrise la programmation Front end par HTML , CSS , JAVASCRIPT , BOOSTRAP , TILWIND , ANGULAR .<br>
Maîtrise la programmation Back end par JAVA , JEE ,  C , PYTHON . <br>
Maitrise les protocole des réseaux informatique.<br>
Administrer Windows et Linux.<br>
Administrer l’environnement cloud.<br>
Gérer la sécurité informatique.<br>

Git et Git Hub.<br>
Base de donnés SQL.<br>

</div>
