<div class="hero">
    <img src="https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?cs=srgb&dl=pexels-pixabay-270348.jpg&fm=jpg" alt="PROFIL" class="background-img">
    
    <div class="overlay">
      <div class="presentation">
        <h1>Aya Abrada</h1>
        <h3>Full stack developer Java JEE Angular<br>
          Technicienne Systèmes et Réseaux</h3>
      </div>
      
      <div class="social-links">
        <div class="social-item">
          <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub" class="social-icon" width="20px" height="20px">       
          <a href="https://github.com/AyaAbrada" target="_blank">GitHub</a>
        </div>
  
        <div class="social-item">
          <img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG7.png" alt="LinkedIn" class="social-icon" width="20px" height="20px">
          <a href="https://www.linkedin.com/in/aya-abrada-6585a1341/" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
  