.presentation {
    text-align: center;
    background-color: #ffffff;  /* Fond blanc pour le contenu */
    margin: 10%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ombre douce autour du bloc */
    max-width: 500px;
    width: 100%;
}
.presentation h1 {
    font-size: 36px;           
    font-weight: 700;          
    color: #333;             
    margin-bottom: 10px;       
}

.presentation h3 {
    font-size: 20px;          
    color: #555;              
    font-weight: 400;          
    margin-top: 0;            
}
.social-links{
    margin: 45px;
}
.social-item{
    display: flex;
}
.body{
    display: inline-flex;
    gap: 300px;
}
.section2{
    margin: 30px;
}

